body {
    font-family: "Helvetica Neue";
    width: 700px;
    margin: 0 auto;
    line-height: 130%;
}

.right {
    float: right;
    width: 290px;
}

.left {
    float: left;
    width: 380px;
}

.clear {
    clear: both;
}
