{% extends "base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-6">
    <h1>Albums</h1>

    <ul class="list-unstyled">
      {% for album in albums %}
        <li>
          <h3><a href="/albums/{{ album.name }}">{{ album.name }}</a></h3>
          {% if album.cover.small-thumb %}
            <img class="img-thumbnail" src="/thumbs/{{ album.cover.small-thumb }}" />
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-6">
    <a class="btn btn-primary" href="/album">Create a new album</a>
  </div>

</div>

{% endblock %}
