{% extends "base.html" %}

{% block content %}

<div class="row">

  <h1>Recent images</h1>

</div>

<div class="row">
  {% for image in recent %}
    <div class="col-md-3 col-sm-6 col-xs-12 col-lg-2">
      <a href="/image/{{ image.id }}">
        <img class="img-thumbnail" src="/thumbs/{{ image.small-thumb }}" />
      </a>
    </div>
  {% endfor %}
</div>

<div class="row">
  <p>Browse <a href="/all">all images</a></p>
</div>

<div class="row">
  <h1>Archive</h1>

  {% for year in years %}
    <a href class="btn btn-primary">{{ year }}</a>
  {% endfor %}
</div>


{% endblock %}
