{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12">
    <img class="img-thumbnail" src="/thumbs/{{ image.big-thumb }}" />
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12">

{{ image.caption }}

{% if image.albums %}
  <p>
  Albums:
  {% for album in image.albums %}
    {{ album}}
  {% endfor %}
  </p>
{% endif %}

{% if user %}

{% if image.likes %}

  <p>
    {% if image.likes|length = 1 %}
      1 person likes this
    {% else %}
      {{ image.likes|length }} people like this
    {% endif %}
  </p>

{% endif %}

{% for like in image.likes %}
  {{ like }}
{% endfor %}

{% if you-like %}
  <p>You like this</p>
{% else %}

  <p>
    <form method="post" action="/like">
      <input type="hidden" name="image" value="{{ image.filename }}" />
      <input class="btn btn-primary" type="submit" value="Like this" />
    </form>
  </p>

{% endif %}

{% endif %}

<p>
Captured: {{ image.captured }}
</p>

<h3>Exif</h3>
<ul>
  <li>Aperture: f/{{ image.exif.aperture }}</li>
  <li>Shutter speed: {{ image.exif.shutter-speed }}</li>
  <li>ISO: {{ image.exif.iso }}</li>
  <li>Focal Length: {{ image.exif.focal-length }}mm</li>
  <li>Focal Length in 35mm: {{ image.exif.focal-length-35 }}mm</li>
  <li>Exposure compensation: {{ image.exif.exposure-compensation }}</li>
</ul>


<div class="comments">

  {% for comment in comments %}
    <div class="comment">
      <p>
        <strong>{{ comment.user }} said:</strong>
        {{ comment.text }}
      </p>
      <small>{{ comment.created }}</small>

      <hr>
    </div>
  {% endfor %}

  <form method="post">
    <textarea rows="10" name="comment" class="form-control"></textarea>
    <input type="submit" class="btn btn-primary" value="Post comment" />
  </form>

</div>

  </div>
</div>

{% endblock %}
